@font-face{
    src: url(fonts/LeagueSpartan-VariableFont_wght.ttf);
    font-family: LeagueSpartan;
}

html{
    --color1: #1e435d;
    --color2: #153043;
    --color3: #456882;
    --color4: #E3E3E3;
    font-family: LeagueSpartan;
    font-size: 20px;
}

body{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color4);
}

.maintitle{
    color: var(--color2);
    display: inline-block;
    text-align: center;
}

main{
    transition: transform 1.5s ease,opacity 1.2s ease;
    letter-spacing: 1.2px;
    @starting-style{
        opacity: 0.2;
        transform: translateY(25px);
    }
}

header{
    margin-top: 30px;
}

.navbar {
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 100px;
    background-color: var(--color2);
    padding: 9px;
    border-style:solid;
    border-radius: 0.9em;
    border-width: 5px;
    border-color: var(--color3);
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: default;
}

.navbar li{
    display: inline-block;
    margin-left: 20px;
    transition: transform 0.2s ease;
}

.navbar a{
    color: var(--color4);
    padding: 8px;
    display: block;
    text-decoration: none;
}

.navbar li:hover{
    background-color: var(--color1);
    border-radius: 1.5em;
    transform: scale(1.05) translateY(-5px);
}

.navbar a.current{
    background-color: var(--color1);
    border-radius: 1.5em;
}

footer{
    transition: transform 1s ease,opacity 1s ease;
    transition-delay: 0.5s;
    @starting-style{
        opacity: 0;
        transform: translateY(15px);
    }
    border-top: solid;
    border-color: var(--color2);
}
