@font-face{
    src: url(fonts/LeagueSpartan-VariableFont_wght.ttf);
    font-family: LeagueSpartan;
}

html{
    scrollbar-gutter: stable;
    --color1: #1e435d;
    --color2: #153043;
    --color3: #456882;
    --color4: #E3E3E3;
    font-family: LeagueSpartan;
    font-size: 20px;
}

body{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color4);
}

header{
    margin-top: 30px;
}

.main_title{
    color: var(--color2);
    display: inline-block;
    text-align: center;
}

main{
    transition: transform 1.5s ease,opacity 1.2s ease;
    letter-spacing: 1.2px;
    @starting-style{
        opacity: 0.2;
        transform: translateY(25px);
    }
}

.main_nav{
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 100px;
    padding: 9px;
    border-top: solid;
    border-bottom: solid;
    border-width: 3px;
    border-color: var(--color3);
}

.main_nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: default;
}

.main_nav li{
    display: inline-block;
    margin-left: 20px;
    transition: transform 0.2s ease;
}

.main_nav a{
    color: var(--color3);
    padding: 8px;
    display: block;
    text-decoration: none;
}

.main_nav li:hover{
    background-color: var(--color1);
    border-radius: 1.5em;
    transform: scale(1.05) translateY(-5px);
}

.main_nav a:hover{
    color: var(--color4);
}

.main_nav a.current{
    background-color: var(--color1);
    color: var(--color4);
    border-radius: 1.5em;
}

.subtitles{
    color: var(--color2);
}

.parcours{
    list-style-type: none;
    border-left: solid;
    border-color: var(--color3);
    color: var(--color2);
    opacity: 0.9;
    margin-left: 25px;
}

.parcours li{
    margin-bottom: 1em;
}

.parcours dd{
    font-size: smaller;
    font-style: italic;
}

.dates{
    color: var(--color2);
    font-weight: 600;
}

.projets, .liens{
    list-style-type: disc;
    color: var(--color2);
}

.project_name{
    color: var(--color2);
    font-weight: 600;
    font-size: larger;
}

.projets p{
    margin-left: 25px;
    color: var(--color1);
}

.projets a{
    font-weight: 600;
    color: var(--color2);
    font-size: smaller;
    margin-left: 25px;
}

.projets a:hover{
    color: var(--color3);
}

.projets li{
    margin-bottom: 2em;
}

p{
    color: var(--color1);
}

p a, .liens li a{
    text-decoration: none;
    font-weight: 600;
    color: var(--color2);
}

p a:hover, .liens li a:hover{
    color: var(--color3);
}

.liens{
    column-count: 2;
}

.liens li{
    margin-bottom: 10px;
}

footer{
    transition: transform 1s ease,opacity 1s ease;
    transition-delay: 0.5s;
    @starting-style{
        opacity: 0;
        transform: translateY(15px);
    }
    border-top: solid;
    border-color: var(--color3);
    font-size: smaller;
    font-style: oblique;
}

.modif_name{
    color: var(--color2);
    font-weight: 500;
}
